.header {
  background: linear-gradient(0deg, rgba(56, 15, 165, 0.14), rgba(56, 15, 165, 0.14)), #FFFBFE;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: -webkit-fill-available;
  height: 160px;
  padding: 52px 52px 0 52px;
  border-radius: 10px 10px 0 0;
}

h1,
h5 {
  margin: 0;
}

h5 {
  color: #7D5260;
}