.ant-input:focus,
:not(#basic_password).ant-input:hover,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #B58392;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px #FFD8E4;
  box-shadow: 0 0 0 2px #FFD8E4;
}